[project]
name = "{{.project_name}}"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]
dynamic = ["version"]
dependencies = [
    "nest-asyncio>=1.6.0",
]

[project.optional-dependencies]
tests = [
    "pytest",
]

[project.scripts]
run-task = "{{.project_name}}.main:main"

[tool.maturin]
module-name = "{{.project_name}}._internal"
features = ["pyo3/extension-module"]

[build-system]
requires = ["maturin>=1.7,<2.0"]
build-backend = "maturin"


